pyterrier
git+https://github.com/terrierteam/pyterrier_adaptive.git
git+https://github.com/terrierteam/pyterrier_t5.git
git+https://github.com/terrierteam/pyterrier_dr.git
git+https://github.com/terrierteam/ir_measures
faiss-cpu
pandas==1.3.5
pytorch-lightning==1.5.10
wandb==0.15.4
matplotlib==3.2.2
networkx==3.1

